<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!--Fontes-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <!-- Link Styles -->
  <link rel="stylesheet" href="/static/styles.css">

  <!-- Jquery Autocomplete -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

  <title>Cidades</title>
</head>

<body>
  <div id="app">
    <ul class="nav bg-dark nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="#"><b>{{ $t("navBar.title") }}</b></a>
      </li>

      <li class="nav-item">
        <div class="dropdown">
          <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="color: white;"><i class="fas fa-globe"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" style="margin-left: 10px;" v-on:click="changeLocale('pt-BR')">Português</a>
            <a class="dropdown-item" style="margin-left: 10px;" v-on:click="changeLocale('en-US')">English</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a style="cursor: pointer;" class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-plus"></i>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar Cidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Nome da Cidade" aria-label="Cidade"
                    aria-describedby="basic-addon1" v-model="cityData.name">
                </div>

                <div class="input-group mb-3">
                  <input type="number" min="0" step="1" class="form-control" placeholder="Quantidade de Habitantes"
                    aria-label="Cidade" aria-describedby="basic-addon1" v-model="cityData.populationCount">
                </div>

                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="Renda Média" aria-label="Cidade"
                    aria-describedby="basic-addon1" v-model="cityData.avarageIncome">
                </div>

                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="País" aria-label="Cidade"
                    aria-describedby="basic-addon1" v-model="cityData.country">
                </div>

                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Estado" aria-label="Cidade"
                    aria-describedby="basic-addon1" v-model="cityData.state">
                </div>

                <h6 class="text-left">Fundado em:</h6>
                <div class="input-group mb-3">
                  <input type="date" class="form-control" placeholder="Data de Fundação" aria-label="Cidade"
                    aria-describedby="basic-addon1" v-model="cityData.foundationDate">
                </div>
              </div>
              <div v-if="errorCreateCity" class="alert alert-danger" role="alert">
                {{ errorCreateCity }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button v-if="!isLoading" type="button" class="btn btn-primary" v-on:click="createCity(cityData)">
                  Criar</button>
                <button v-if="isLoading" class="btn btn-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Criando...
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12">
          <div style="margin-bottom: 22px !important;" class="shadow p-3 mb-5 bg-white rounded"><b>Buscar Cidade</b>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="input-group mb-3">
            <button v-if="!isLoading" class="btn btn-primary" v-on:click="searchCity(search)">
              <i class="fas fa-search"></i>
            </button>

            <button v-if="isLoading" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>

            <input type="search" class="form-control" placeholder="Nome da Cidade" aria-label="Cidade"
              aria-describedby="basic-addon1" v-model="search" @input="debouncedSearchCity(search)">
          </div>
        </div>

        <div v-if="cityNotFound" class="col-sm-12 text-center">
          <p>Nenhuma Cidade Encontrada.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="overflow-auto" style="height: 68vh;">
            <div class="list-group" v-for="city in cityList">
              <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ city.name }}</h5>
                </div>
                <p class="mb-1">População: {{ $n(city.populationCount) }}</p>
                <p class="mb-1">Renda Média: {{ $n(city.avarageIncome) }}</p>
                <p class="mb-1">País: {{ city.country }}</p>
                <p class="mb-1">Estado: {{ city.state }}</p>
                <p class="mb-1">Fundada em: {{ $d(city.foundationDate) }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!-- VueJS Locale -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/pt-br.min.js"></script>
  <!-- VueJS -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.js"></script>
  <!-- VueJS i18n -->
  <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>

  <!-- Script.js -->
  <script src="/static/scripts.js"></script>
</body>

</html>
